<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="index-main-wrap">
        <%- include('partials/header') %>
        <div class="content">
            <div class="dropdown-wrap">
                <div class="dropdown closed">
                    <h2 class="icon">Dropdown <span>∆</span></h2>
                    <ul class="menu">
                        <li><a href="#" onclick="changeDisplay('1')">SQL Injection</a></li>
                        <li><a href="#" onclick="changeDisplay('2')">Broken Authentication</a></li>
                    </ul>
                </div>
            </div>
            <div class="content-task">
                <div class="content-task1">
                    <%- include('components/SQLInjection') %>
                </div>
                <div class="content-task2">
                    <%- include('components/brokenAuth') %>
                </div>
            </div>          
        </div>
        <%- include('partials/footer') %>
        <script src="scripts/index.js"></script>
    </div>
</body>

</html>