#brokenAuth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.brokenAuth-title{
    text-align: center;
    margin: 0px;
    display: block;
}
.brokenAuth-main-wrap{
    width: 60%;
    min-width: 800px;
    padding: 40px 10px;
    border: 5px solid white;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px white;
}
#brokenAuth-form-submit-button{
    box-shadow: inset 0 0 15px #4069EC;
    border: solid 2px #4069EC;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}
#brokenAuth-form-submit-button:hover{
    background-color: #4069EC ;
}
#brokenAuth-form-protect-button{
    transition: background-color 0.4s, opacity 0.3s;
    color: #0DDEB8;
}
.fade-out {
    opacity: 0;
}
p{
    font-size: 30px;
    font-weight: bold;
}