body {
  background-color: black;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.dropdown-wrap {
    margin-top: 30px;
    min-height: 330px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: start;
}

.content {
  margin: 0;
  font-family: Courier New, system-ui, sans-serif;
  color: black;
  min-height: 400px;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}

.dropdown {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  margin: 30px;
  background: transparent;
  width: 320px;
  display: grid;
  cursor: pointer;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "icon"
    "menu";
}

.icon {
  grid-area: icon;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.icon span {
  transition: all 0.2s ease-in-out;
  transform: rotateX(180deg) rotateY(180deg);
  color: rgb(252, 102, 102);
}

.closed .icon span {
  transform: rotateX(0deg);
  color: white;
}

.menu {
  grid-area: menu;
  transition: all 0.2s ease-in-out;
 
}

.menu li {
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  padding: 1rem 0.4rem;
  border-top: solid 1px rgb(202, 202, 202);
  color: white;
}

.menu li:hover {
  background: rgb(252, 102, 102);
}

.menu li:hover a {
  color: white;
}

.dropdown.closed .menu {
  height: 0;
}

label{
    font-size: 23px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: normal;
}
button{
    font-family: sans-serif;
    background-color: transparent;
    border: none;
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
}
input{
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    outline: none; 
    font-size: 20px;
}
.content-task{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: display 0.2s, opacity 0.4s;
}
.content-task1{
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: display 0.2s, opacity 0.4s;
}
.content-task2{
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: display 0.2s, opacity 0.4s;
}
.fade-out {
    opacity: 0;
}
.add-display {
    display: flex;
}